/** ONE BOX PARTNER ROW **/
#one_box_row {
	text-align: center;
}
figure.one_box_img {
	display: inline-block;
	padding-right: 1.5em;
	-webkit-transition:all 0.95s ease-in-out;
	-moz-transition:all 0.95s ease-in-out;
	-o-transition:all 0.95s ease-in-out;
	-ms-transition:all 0.95s ease-in-out;
	transition:all 0.95s ease-in-out;
}

figure.one_box_img:hover {
	transform:rotate(7deg) scale(1.15,1.15);
	-moz-transform:rotate(7deg) scale(1.15,1.15); 
	-o-transform:rotate(7deg) scale(1.15,1.15); 
	-ms-transform:rotate(7deg) scale(1.15,1.15); 
	-webkit-transform:rotate(7deg) scale(1.15,1.15); 

/** ONE BOX PARTNER ROW END **/
