.caption_box_row3
{
  position: relative;
  overflow: hidden;
  /*padding: 0;*/
  /*margin: 0;*/
}
.caption_box_row3 article:hover .caption{
  opacity: 1;
  transform: translateY(-100px);
  -webkit-transform:translateY(-100px);
  -moz-transform:translateY(-100px);
  -ms-transform:translateY(-100px);
  -o-transform:translateY(-100px);

}
.caption_box_row3 img{
    margin: 0px;
    padding: 0px;
    float: left;
    z-index: 4;
  }

.caption_box_row3 .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    top:250px;
    margin: 0;
    padding: 0;
    -webkit-transition:all 0.95s ease-in-out;
    -moz-transition:all 0.95s ease-in-out;
    -o-transition:all 0.95s ease-in-out;
    -ms-transition:all 0.95s ease-in-out;
    transition:all 0.95s ease-in-out;

}
.caption_box_row3 .caption_text {
    z-index: 10;
    color: #fff;
    position: absolute;
    width: 260px;
    height: 250px;
    text-align: center;
    top: 0px;
}
.caption_box_row3 .caption_text h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  line-height: .5em;
}
.caption_box_row3 .caption_text p {
  font-size: .7em;
  color: red;
}

.caption_box_row3  .blur {
  background-color: rgba(0,0,0,0.7);
  height: 250px;
  width: 260px;
  z-index: 5;
  /*position: absolute;*/
  /*padding: 0;*/
  /*margin: 0;*/
}





  