#footer_content {
	padding-top: 50px;
}
#footer_row_1 {
	height: 150px;
	/*border: 1px solid yellow;*/
}
#footer_row1_col1 {
	border-bottom: 2px solid skyblue;
	padding-bottom: 2em;
}
#footer_row1_col1 img {
	border: 4px solid white;
}
#footer_row1_col2 {
	padding-bottom: 1.8em;
	/*border-bottom: 2px solid  rgba(22,36,47, .5); DOESN'T WORK*/ 
	border-bottom: 2px solid #5A5144;  
}
/*#footer_row1_col2 p {
	font-style: italic;
}*/
.italic {
	font-style: italic;
}
#footer_row_2 {
	height: 400px;
	/*border: 1px solid skyblue;*/
}
.footer_row_2_text {
	padding-top: 2em;
	padding-right: 1.5em;
	line-height: 1.8em;
}
.footer_row_2_header {
	margin-right: 1em;
}
#footer_row2_content {

}
#footer_row2_col1{
	height: 350px;
	/*border: 1px solid red;*/
}

#footer_row2_col2{
	height: 350px;
	/*border: 1px solid yellow;*/
}
#footer_row2_col3{
	height: 350px;
	/*border: 1px solid pink;*/
}
#footer_row2_col4{
	height: 350px;
	/*border: 1px solid green;*/
}
#footer_row2_header1 {
	border-bottom: 3px solid red;
}
#footer_row2_header2 {
	border-bottom: 3px solid yellow;
}
#footer_row2_header3 {
	border-bottom: 3px solid hotpink;
}
#footer_row2_header4 {
	border-bottom: 3px solid skyblue;
}

#footer_row_3 {
	height: 100px;
	/*border: 1px solid hotpink;*/
}
#footer_row3_col1 {
	border-top: 2px solid #5A5144 ;
}
#footer_row3_col2 {
	border-top: 2px solid #5A5144;
	padding-right: 0;
	
}

#footer_row3_col2 .btn {
	padding-top: 2em;
	padding-bottom: 2em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}
.footer_text {
	color: white;
}